<div id="container" role="main">

    <section id="select">
        <select class="form-control mr-sm-2" onchange="mudaLink(value)">
            <option selected="selected">Selecione uma opção</option>
            <!--<option value="Eventos">Eventos</option>-->

            <optgroup label="Eventos">
                <option value="">Musical</option>
                <option value="arenas">Rio 2019</option>
            </optgroup>

            <option value="hospitais">Hospitais</option>
            <option value="PtTuristicos">Pontos Turísticos</option>

        </select>
    </section>

    <section class="painel">
        <figure class="fig-maracana">
            <img src="img/arena.jpg" alt="Maracanã" title="Maracanã"/>
        </figure>
    </section>

</div>