
<div class="row mapa-card">
    <div class="card bg-info mb-3 col-sm-4" style="max-width: 28rem;">
        <div class="card-header">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
            </form>
        </div>
        <div class="card-body card-lateral" ng-repeat="item in $ctrl.hospitais | limitTo: 5 : $ctrl.begin">
            <div class="card mb-3"  style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img ng-click="$ctrl.centralizaPonto({lat: item.geometry.y, lng: item.geometry.x})" src="img/índice.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{item.attributes.NOME}}</h5>
                            <p class="card-text">E-mail: {{item.attributes.EMAIL}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-auto ml-auto">
        <button ng-disabled="$ctrl.begin===0" class="btn btn-dark" ng-click="$ctrl.atualizarLista(false)"> << </button>
        <button class="btn btn-dark" ng-click="$ctrl.atualizarLista(true)"> >> </button>
        </div>
    </div>

    <div class="mapa-container col-sm-8">
        <div id="mapa">
    </div>
</div>
</div>