<div class="row">
    <div class="card bg-info mb-3 col-sm-4" style="max-width: 28rem;">
        <div class="card-header">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
            </form>
        </div>
        <div class="card-body" ng-repeat="item in $ctrl.hospitais | limitTo: 5 : $ctrl.begin">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="img/índice.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{item.attributes.NOME}}</h5>
                            <p class="card-text">Latitude: {{item.geometry.x}}</p>
                            <p class="card-text">Longitude: {{item.geometry.y}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        <button ng-disabled="$ctrl.begin===0" class="btn btn-dark" ng-click="$ctrl.atualizarLista(false)">Menos</button>
        <button class="btn btn-dark" ng-click="$ctrl.atualizarLista(true)">Mais</button>
        </div>
    </div>

    <div class="mapa-container col-sm-8">
    <div id="mapa"></div>
    </div>
</div>