<header>
    <nav id="busca">
        <form class="form-inline my-2 mx-auto" role="form">
            <input class="form-control mx-auto" id="formpesquisanav" type="search" placeholder="Buscar por nome" aria-label="Search" tabindex="1">
        </form>
    </nav>
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="#" tabindex="-1">Logo</a>
        <button class="navbar-toggler" role="button" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" tabindex="2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" tabindex="-1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ml-3">
                    <a class="nav-link" href="#" tabindex="3">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-4 ml-3">
                    <a class="nav-link" href="#" tabindex="4">Empresa</a>
                </li>
                <li class="nav-item mr-4 ml-3">
                    <a class="nav-link" href="#" tabindex="5">Hospitais</a>
                </li>
                <li class="nav-item mr-4 ml-3">
                    <a class="nav-link" href="#" tabindex="6">Pontos Turísticos</a>
                </li>
                <li class="nav-item dropdown mr-4 ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="7">
                        Eventos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!--<a class="dropdown-item" href="#">Futebol</a>-->
                        <li class="dropdown-item"><a href="#">Musical</a></li>
                        <li class="nav-item dropdown-submenu">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Rio 2019</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#">Futebol</a></li>
                                <!--<a class="dropdown-item" href="#">Musical</a>-->
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="btn btn-dark mr-2" type="submit">Login</button>
            <button class="btn btn-dark ml-2" type="submit">Registro</button>
        </div>
    </nav>
</header>